/*
* Styling for list layout elements
*/
.list-layout {
    overflow: hidden;
}

/*
* Set height of body to auto for enabling scroll
*/

.body-scroll {
    height: auto !important;
}

/*
* Styling for audio player
*/
.playerMP {
    padding-left: 5px;
    padding-right: 5px;
}

.back-color {
    background-color: black !important;;
    padding: 0 !important;
}

.audeo-player-holder {
    display: table;
    text-align: center;
    max-width: 260px;
    max-height: 200px;
    margin: 0 auto;
}

.media-player-btns {
    margin-bottom: 15px;
}

.customBackground {
    background-position: center center !important;
    background-size: initial;
    background-repeat: no-repeat !important;
    background-origin: initial;
    background-clip: initial;
    background-attachment: fixed;
    background-color: #FFFFFF !important;
}

.backButton {
    float: left;
    margin-left: 2px;
    position: absolute;
    z-index: 99;
}

/*style for the info showed when feed items not available*/
.items-info {
    margin-left: 30px;
    margin-top: 15px;
}

/*Style to fix height and width of description images*/
#description img {
    height: auto !important;
    width: 100% !important;
}

/*Styles for Audio player Slider*/
.slider-block {
    width: 77%;
    padding-left: 10px;
    padding-right: 10px;
}

.slider-block input[type=range] {
    cursor: pointer;
}

.padding0 {
    padding: 0px !important;
}

.clear-both {
    clear: both;
}