<div ng-show="DesignHome.isSaved" class="alert alert-success transition-half margin-fix">Saved</div>
<div ng-show="DesignHome.isNotSaved" class="alert alert-danger transition-half margin-fix">Not Saved</div>
<div class="item row clearfix">
  <div class="labels col-md-3 padding-right-zero pull-left">
    <span>Item List Layout</span>
  </div>
  <div class="main col-md-9 pull-right">
    <div class="screens clearfix">
      <div class="screen layouticon pull-left">
        <a class="border-grey border-radius-three default-background-hover text-center">
          <img ng-src="../../resources/{{DesignHome.data.design.itemListLayout}}.png">
        </a>
      </div>
      <div class="screen layoutgrid pull-right margin-left-zero border-grey border-radius-three">
        <a ng-repeat="listLayout in DesignHome.layouts.itemListLayouts" data-number="{{$index + 1}}"
           class="layouticon border-grey border-radius-three default-background-hover text-center"
           ng-click="DesignHome.changeListLayout(this.listLayout.name)">
          <img ng-src="../../resources/{{listLayout.name}}.png">
        </a>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="item row clearfix">
  <div class="labels col-md-3 padding-right-zero pull-left">
    <span>Item Details Layout</span>
  </div>
  <div class="main col-md-9 pull-right">
    <div class="screens clearfix">
      <div class="screen layouticon pull-left">
        <a class="border-grey border-radius-three default-background-hover text-center">
          <img ng-src="../../resources/{{DesignHome.data.design.itemDetailsLayout}}.png">
        </a>
      </div>
      <div class="screen layoutgrid pull-right margin-left-zero border-grey border-radius-three">
        <a
            ng-repeat="itemDetailsLayout in DesignHome.layouts.itemDetailsLayouts" data-number="{{$index + 1}}"
           class="layouticon border-grey border-radius-three default-background-hover text-center"
           ng-click="DesignHome.changeItemDetailsLayout(this.itemDetailsLayout.name)">
          <img ng-src="../../resources/{{itemDetailsLayout.name}}.png">
        </a>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="item row clearfix margin-top-thirty">
  <div class="labels col-md-3 padding-right-zero pull-left">
    <span>Item List Background Image</span>
  </div>
  <div class="main col-md-9 pull-right">
    <div class="screens clearfix">
      <div ng-hide="DesignHome.data.design.itemListBgImage" class="screen text-center layouticon pull-left">
        <a class="border-grey border-radius-three default-background-hover text-center"
           ng-click="DesignHome.addItemListBackgroundImage()">
          <span class="add-icon">+</span>
        </a>
      </div>
      <div ng-show="DesignHome.data.design.itemListBgImage" class="screen text-center layouticon pull-left">
        <a class="border-grey border-radius-three default-background-hover text-center"
           ng-click="DesignHome.addItemListBackgroundImage()">
          <img ng-src="{{DesignHome.data.design.itemListBgImage|resizeImage:88:124}}">
        </a>
        <span class="icon btn-icon btn-delete-icon btn-danger btn-close transition-third"
              ng-click="DesignHome.removeItemListBackgroundImage()"></span>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="item row clearfix margin-top-thirty">
  <div class="labels col-md-3 padding-right-zero pull-left">
    <span>Item Details Background Image</span>
  </div>
  <div class="main col-md-9 pull-right">
    <div class="screens clearfix">
      <div ng-hide="DesignHome.data.design.itemDetailsBgImage" class="screen text-center layouticon pull-left">
        <a class="border-grey border-radius-three default-background-hover text-center"
           ng-click="DesignHome.addItemDetailsBackgroundImage()">
          <span class="add-icon">+</span>
        </a>
      </div>
      <div ng-show="DesignHome.data.design.itemDetailsBgImage" class="screen text-center layouticon pull-left">
        <a class="border-grey border-radius-three default-background-hover text-center"
           ng-click="DesignHome.addItemDetailsBackgroundImage()">
          <img ng-src="{{DesignHome.data.design.itemDetailsBgImage|resizeImage:88:124}}">
        </a>
        <span class="icon btn-icon btn-delete-icon btn-danger btn-close transition-third"
              ng-click="DesignHome.removeItemDetailsBackgroundImage()"></span>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="item clearfix row">
  <div class="labels col-md-3 padding-right-zero pull-left">
    <span>Show feed images</span>
  </div>
  <div class="main pull-right col-md-9 padding-left-zero row">
    <div class="radio radio-primary radio-inline">
      <input id="yes" type="radio" ng-model="DesignHome.data.design.showImages"
             ng-value="DesignHome.FEED_IMAGES.YES"
             name="feedImages" ng-se="">
      <label for="yes">Yes</label>
    </div>
    <div class="radio radio-primary radio-inline">
      <input id="no" type="radio" ng-model="DesignHome.data.design.showImages"
             ng-value="DesignHome.FEED_IMAGES.NO"
             name="feedImages">
      <label for="no">No</label>
    </div>
  </div>
</div>
