<div background-image="{{WidgetMedia.data.design.itemDetailsBgImage}}" class="holder padding-zero">
  <div class="media-center-plugin layout1">
    <div ng-switch="WidgetMedia.medium" class="media-center-banner clearfix border-bottom-grey">
      <div ng-switch-when="VIDEO" class="videogular-container">
        <videogular vg-player-ready="WidgetMedia.onPlayerReady($API)"
                    vg-change-source="WidgetMedia.sourceChanged($source)"
                    vg-theme="WidgetMedia.videoPlayerConfig.theme.url"
                    vg-error="WidgetMedia.onVideoError($event)">
          <vg-media vg-src="WidgetMedia.videoPlayerConfig.sources"
                    vg-tracks="WidgetMedia.videoPlayerConfig.tracks"
                    vg-native-controls="false">
          </vg-media>
          <vg-controls vg-autohide="true">
            <vg-play-pause-button></vg-play-pause-button>
            <vg-scrub-bar>
              <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            </vg-scrub-bar>
            <vg-time-display>{{ timeLeft | date:'mm:ss':'+0530' | timeCorrect }}</vg-time-display>
            <vg-volume>
              <vg-mute-button></vg-mute-button>
              <vg-volume-bar></vg-volume-bar>
            </vg-volume>
          </vg-controls>
          <vg-overlay-play></vg-overlay-play>
        </videogular>
      </div>
      <div ng-switch-when="AUDIO">
        <div class="holder now-playing text-center back-color">
          <div class="audeo-player-holder">
            <img class="border-radius-four"
                 src="../resources/now-playing.png" height="100%" width="100%">
          </div>
          <div class="slider margin-top-twenty">
            <div class="playerMP">
              <div ng-if="WidgetMedia.audio.currentTime">{{WidgetMedia.audio.currentTime | number:2}}</div>
              <div><input id="slider" ng-show="WidgetMedia.audio.duration" type="range" min="0"
                          max="{{WidgetMedia.audio.duration}}"
                          ng-model="WidgetMedia.audio.currentTime"/></div>
              <div ng-if="WidgetMedia.audio.duration">{{WidgetMedia.audio.duration | number:2}}</div>
            </div>
          </div>
          <div class="media-player-btns">
            <span ng-if="!WidgetMedia.audio.playing" class="icon icon-play-circle icon-main"
                  ng-click="WidgetMedia.playAudio()"></span>
            <span ng-if="WidgetMedia.audio.playing" class="icon icon-pause-circle icon-main"
                  ng-click="WidgetMedia.pause()"></span>
          </div>
        </div>
      </div>
      <div ng-switch-default class="plugin-slider text-center">
        <div class="plugin-slide">
          <img ng-src="{{WidgetMedia.getImageUrl(WidgetMedia.item)|resizeImage:340:190}}">
        </div>
      </div>
    </div>
    <div class="text-left padded padding-bottom-zero clearfix ">
      <h4 class="margin-zero">{{WidgetMedia.getTitle(WidgetMedia.item)}}</h4>

      <p>{{WidgetMedia.item.summary|removeHtml}}</p>
    </div>
    <div class="padded padding-top-zero">
      <hr class="small">
      <div class="link-list">
        <a class="text-primary">Listen</a>
        <a class="text-primary">Watch</a>
        <a class="text-primary">View Source</a>
        <a class="text-primary">Share</a>
      </div>
      <hr class="small">
      <p>{{WidgetMedia.item.description|removeHtml}}</p>
    </div>
  </div>
</div>
