<div background-image="{{WidgetMedia.data.design.itemDetailsBgImage}}" class="holder padding-zero">
  <div class="media-center-plugin layout1">
    <div class="media-center-banner clearfix border-bottom-grey">
      <div class="plugin-slider text-center">
        <div class="plugin-slide play-btn">
          <img ng-src="{{WidgetMedia.getImageUrl(WidgetMedia.item)|resizeImage:133:88}}">
        </div>
      </div>
    </div>
    <div class="text-left padded padding-bottom-zero clearfix ">
      <h4 class="margin-zero">{{WidgetMedia.getTitle(WidgetMedia.item)}}</h4>
      <p>{{WidgetMedia.item.summary|removeHtml}}</p>
    </div>
    <div class="padded padding-top-zero">
      <hr class="small">
      <div class="link-list">
        <a class="text-primary">Listen</a>
        <a class="text-primary">Watch</a>
        <a class="text-primary">View Source</a>
        <a class="text-primary">Share</a>
      </div>
      <hr class="small">
      <p>{{WidgetMedia.item.description|removeHtml}}</p>
    </div>
  </div>
</div>
