<div background-image="{{WidgetHome.data.design.itemListBgImage}}" class="holder padding-zero customBackground">
  <div class="media-center-plugin layout3">
    <div class="plugin-banner clearfix">
      <buildfire-carousel images="WidgetHome.data.content.carouselImages"></buildfire-carousel>
    </div>
    <div  ng-if="WidgetHome.showDescription(WidgetHome.data.content.description)" class="text-left padded padding-bottom-zero clearfix">
      <p style="word-break: break-all" ng-bind-html='WidgetHome.data.content.description | safeHtml'></p>
    </div>
    <div ng-if="WidgetHome.data"
         infinite-scroll="WidgetHome.loadMore()"
         infinite-scroll-distance="1"
         infinite-scroll-disabled="WidgetHome.busy"
         data-infinite-container=".infinite-scroll-parent">
      <div ng-show="WidgetHome.isItems" ng-repeat="item in  WidgetHome.items" trigger-ng-repeat-render="">
        <div ng-if="item.imageSrcUrl" class="plugin-banner clearfix border-bottom-grey">
          <div class="plugin-slide text-center">
            <img ng-src="{{item.imageSrcUrl| getImageUrl:340:192}}">
          </div>
        </div>
        <div class="padded text-left">
          <a ng-click="WidgetHome.goToItem($index)" class="text-primary">{{WidgetHome.getTitle(item)}}</a>

          <p class="summary ellipsis margin-zero" ng-bind-html="WidgetHome.getItemSummary(item)|safeHtml"></p>
          <span class="list-item-date">{{WidgetHome.getItemPublishDate(item)}}</span>
        </div>
      </div>
      <div ng-hide="WidgetHome.isItems" class="items-info">
        <a href="javaScript:void(0);" class="btn-info-icon btn-primary pull-left"></a>
        <label class="pull-left">RSS Feed doesn't have any items.</label>
      </div>
    </div>
  </div>
</div>