<div background-image="{{WidgetHome.data.design.itemListBgImage}}"  class="holder padding-zero">
  <div class="media-center-plugin layout1">
    <div class="media-center-banner clearfix border-bottom-grey">
      <buildfire-carousel images="WidgetHome.data.content.carouselImages"></buildfire-carousel>
    </div>
    <div class="text-left padded padding-bottom-zero clearfix">
      <p ng-if="WidgetHome.showDescription(WidgetHome.data.content.description)"
         ng-bind-html="WidgetHome.data.content.description | safeHtml"></p>
    </div>
    <div class="padded padding-top-zero">
      <div class="list-layout">
        <div class="list-item col-xs-6 pull-left"
             ng-repeat="item in  WidgetHome.items">
          <div class="list-item-media text-center border-radius-three overflow-hidden">
            <div class="list-media-holder">
              <img ng-src="{{item.summary|extractImgSrc|resizeImage:133:88}}">
            </div>
          </div>
          <div class="list-item-copy text-left">
            <p class="ellipsis margin-zero"><a ng-click="WidgetHome.goToItem($index)" class="text-primary">{{item.title}}</a></p>

            <p class="summary ellipsis margin-zero"
               ng-bind-html="item.summary|truncate|safeHtml"></p>
            <span class="list-item-date">{{item.pubDate|date:'medium'}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>