<div class="holder padding-zero customBackground">
    <div class="media-center-plugin layout3">
        <div class="media-center-banner clearfix">
            <div id="carousel" ng-if="WidgetHome.data.content.carouselImages.length" build-fire-carousel="" ng-style="WidgetHome.data.content.carouselImages.length > 0 ? {'min-height': (9 * deviceWidth / 16) + 'px' } : {}"></div>
        </div>
        <div ng-if="WidgetHome.showDescription(WidgetHome.data.content.description)"
             class="text-left padded padding-bottom-zero clearfix">
            <p style="word-break: break-word" ng-bind-html='WidgetHome.data.content.description | safeHtml'></p>
        </div>
        <div>
            <div class="list-layout"
                 ng-if="WidgetHome.data"
                 infinite-scroll="WidgetHome.loadMore()"
                 infinite-scroll-distance="1"
                 infinite-scroll-disabled="WidgetHome.busy"
                 data-infinite-container=".infinite-scroll-parent">
                <div ng-show="WidgetHome.isItems" class="list-item"
                     ng-repeat="item in  WidgetHome.items" trigger-ng-repeat-render=""
                     ng-click="WidgetHome.goToItem($index)" style="cursor: pointer">
                    <div class="list-item-media text-left overflow-hidden">
                      <div ng-if="item.imageSrcUrl && WidgetHome.data.design.showImages == 'Yes'" class="list-media-holder pull-left">
                        <img load-image="16x9"
                             crop-width="220" crop-height="120" crop-type="crop"
                             data-final-src="{{item.imageSrcUrl}}">
                      </div>
                     <!-- <div ng-if="!item.imageSrcUrl" class="list-media-holder pull-left">
                        <img src='../../../styles/media/holder-16x9.png'>
                      </div> commented on Nathans change request-->
                        <div class="list-item-copy text-left padding-left-ten padding-right-ten">
                            <p class="ellipsis margin-zero text-primary"><a ng-click="WidgetHome.goToItem($index)"
                                                                            class="text-primary">{{WidgetHome.getTitle(item)}}</a>
                            </p>

                            <p class="summary ellipsis margin-zero"
                               ng-bind-html="WidgetHome.getItemSummary(item)|safeHtml">></p>
                            <span class="list-item-date">{{WidgetHome.getItemPublishDate(item)}}</span>
                        </div>
                    </div>
                </div>
                <div ng-hide="WidgetHome.isItems" class="items-info">
                    <a href="javaScript:void(0);" class="btn-info-icon btn-primary pull-left"></a>
                    <label class="pull-left">RSS Feed doesn't have any items.</label>
                </div>
            </div>
        </div>
    </div>
</div>