<div background-image="{{WidgetHome.data.design.itemListBgImage}}"  class="holder padding-zero">
  <div class="media-center-plugin layout3">
    <div class="plugin-banner clearfix border-bottom-grey">
      <buildfire-carousel images="WidgetHome.data.content.carouselImages"></buildfire-carousel>
    </div>
    <div class="text-left padded padding-bottom-zero clearfix">
      <p ng-if="WidgetHome.showDescription(WidgetHome.data.content.description)"
         ng-bind-html='WidgetHome.safeHtml(WidgetHome.data.content.description)'></p>
    </div>
    <div ng-repeat="item in  WidgetHome.items" trigger-ng-repeat-render="">
      <div class="plugin-banner clearfix border-bottom-grey">
        <div class="plugin-slide text-center">
          <img ng-src="{{WidgetHome.getImageUrl(item)|resizeImage:133:88}}">
        </div>
      </div>
      <div class="padded text-left">
        <a ng-click="WidgetHome.goToItem($index)" class="text-primary">{{WidgetHome.getTitle(item)}}</a>
        <p class="summary ellipsis margin-zero" ng-bind-html="WidgetHome.getItemSummary(item)|safeHtml"></p>
        <span class="list-item-date">{{WidgetHome.getItemPublishDate(item)}}</span>
      </div>
    </div>
  </div>
</div>