<div background-image="{{WidgetHome.data.design.itemListBgImage}}"
     class="holder padding-zero "><!-- customBackground minHeightWidget-->
    <div class="media-center-plugin layout1">
        <div class="media-center-banner clearfix">
            <buildfire-carousel images="WidgetHome.data.content.carouselImages"></buildfire-carousel>
        </div>
        <div ng-if="WidgetHome.showDescription(WidgetHome.data.content.description)"
             class="text-left padded padding-bottom-zero clearfix">
            <p style="word-break: break-all" ng-bind-html="WidgetHome.data.content.description | safeHtml"></p>
        </div>
        <div class="padded  padding-top-zero">
            <div class="list-layout"
                 ng-if="WidgetHome.data"
                 infinite-scroll="WidgetHome.loadMore()"
                 infinite-scroll-distance="1"
                 infinite-scroll-disabled="WidgetHome.busy">
                <div ng-show="WidgetHome.isItems" class="row"
                     ng-repeat="item in WidgetHome.items" ng-if="$index % 2 == 0">
                    <div class="list-item col-xs-6 pull-left">
                        <div ng-if="WidgetHome.items[$index].imageSrcUrl"
                             class="list-item-media text-center border-radius-three overflow-hidden">
                            <div class="list-media-holder">
                                <img ng-src="{{WidgetHome.items[$index].imageSrcUrl|cropImage:240:160}}">
                            </div>
                        </div>
                        <div class="list-item-copy text-left">
                            <p class="ellipsis margin-zero text-primary"><a ng-click="WidgetHome.goToItem($index)"
                                                                            class="text-primary">{{WidgetHome.getTitle(WidgetHome.items[$index])}}</a>
                            </p>

                            <p class="summary ellipsis margin-zero"
                               >789</p>
                            <span class="list-item-date">{{WidgetHome.getItemPublishDate(WidgetHome.items[$index])}}</span>
                        </div>
                    </div>
                    <div class="list-item col-xs-6 pull-left">
                        <div ng-if="WidgetHome.items[$index+1].imageSrcUrl"
                             class="list-item-media text-center border-radius-three overflow-hidden">
                            <div class="list-media-holder">
                                <img ng-src="{{WidgetHome.items[$index+1].imageSrcUrl|resizeImage:240:160}}">
                            </div>
                        </div>
                        <div class="list-item-copy text-left">
                            <p class="ellipsis margin-zero text-primary"><a ng-click="WidgetHome.goToItem($index+1)"
                                                                            class="text-primary">{{WidgetHome.getTitle(WidgetHome.items[$index+1])}}</a>
                            </p>

                            <p class="summary ellipsis margin-zero"
                               >789</p>
                            <span class="list-item-date">{{WidgetHome.getItemPublishDate(WidgetHome.items[$index+1])}}</span>
                        </div>
                    </div>

                </div>
                <div ng-hide="WidgetHome.isItems" class="items-info">
                    <a href="javaScript:void(0);" class="btn-info-icon btn-primary pull-left"></a>
                    <label class="pull-left">RSS Feed doesn't have any items</label>.
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="holder padding-zero">
    <div class="media-center-plugin layout1">
        <div class="media-center-banner clearfix border-bottom-grey">
            <div class="plugin-slider text-center">
                <div class="plugin-slide">
                    <img src="http://www.placehold.it/1280x720.jpg">
                </div>
                <div class="plugin-slide">
                    <img src="http://www.placehold.it/1280x720.jpg">
                </div>
                <div class="plugin-slide">
                    <img src="http://www.placehold.it/1280x720.jpg">
                </div>
            </div>
        </div>
        <div class="text-left padded padding-bottom-zero clearfix">
            <p>This is the WYSIWYG Editor. This is the WYSIWYG Editor. This is the WYSIWYG Editor. This is the WYSIWYG Editor. This is the WYSIWYG Editor. This is the WYSIWYG Editor. This is the WYSIWYG Editor. This is the WYSIWYG Editor.</p</p>
        </div>
        <div class="padded padding-top-zero">
            <div class="list-layout">
                <div class="row">
                    <div class="list-item col-xs-6 pull-left">
                        <div class="list-item-media text-center border-radius-three overflow-hidden">
                            <div class="list-media-holder">
                                <img src="http://www.placehold.it/240x160">
                            </div>
                        </div>
                        <div class="list-item-copy text-left">
                            <p class="ellipsis margin-zero"><a class="text-primary">This is a title</a></p>
                            <p class="summary ellipsis margin-zero">Here is where the summary goes</p>
                            <span class="list-item-date">Dec 21, 2014</span>
                        </div>
                    </div>
                    <div class="list-item col-xs-6 pull-left">
                        <div class="list-item-media text-center border-radius-three overflow-hidden">
                            <div class="list-media-holder play-btn">
                                <img src="http://www.placehold.it/240x160">
                            </div>
                        </div>
                        <div class="list-item-copy text-left">
                            <p class="ellipsis margin-zero"><a class="text-primary">This is a title</a></p>
                            <p class="summary ellipsis margin-zero">Here is where the summary goes</p>
                            <span class="list-item-date">Dec 21, 2014</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
