<div class="holder padding-zero">
  <div class="media-center-plugin layout3">
    <div class="plugin-banner clearfix border-bottom-grey">
      <buildfire-carousel images="WidgetHome.data.content.carouselImages"></buildfire-carousel>
    </div>
    <div class="text-left padded padding-bottom-zero clearfix">
      <p ng-if="WidgetHome.showDescription(WidgetHome.data.content.description)"
         ng-bind-html='WidgetHome.safeHtml(WidgetHome.data.content.description)'></p>
    </div>
    <div ng-repeat="item in  WidgetHome.items">
      <div class="plugin-banner clearfix border-bottom-grey">
        <div class="plugin-slide text-center">
          <img ng-src="{{item.summary|extractImgSrc|resizeImage:133:88}}">
        </div>
      </div>
      <div class="padded text-left">
        <a class="text-primary">{{item.title}}</a>
        <p class="summary ellipsis margin-zero"  ng-bind-html="item.summary|truncate|safeHtml"></p>
        <span class="list-item-date">{{item.pubDate|date:'MMM dd yyyy'}}</span>
      </div>
    </div>
  </div>
</div>